@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000000;
  max-width: 1200px;
  margin: 0 auto;
}

.heading {
  font-size: 2.5rem;
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

.mainroot {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  gap: 2px;
  margin-top: 5rem;
}

.card-container {
  position: relative;
}

.card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 1.9), rgba(0, 0, 0, 0.0));
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
  }

  .modalPostion{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, 129%);
  }



  .card-content:hover{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.0));
    backdrop-filter: saturate(0%) blur(14px);
    transition: 0.4s ease;
  }

.cardimage img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* .card-image img:hover {
    filter: saturate(0%) blur(14px);
  transition: 0.4s ease;
} */

.cardtitle h1{
    font-size: 1.7rem;  
    line-height: 2rem;
    font-weight: 700;
}

.cardtitle p {
  font-size: 0.7rem;
  text-transform: lowercase;
  margin-top: 13%;
}

.cardaction{
    display: flex;
    align-items: center;
    gap: 9px;
    
}

.cardaction p{
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 400;
    color: aqua;
}

